# 使用官方的Java基础镜像
FROM openjdk:8-jdk-alpine
# 将本地的打包的jar文件复制到容器中
COPY ojgateway-0.0.1-SNAPSHOT.jar ojgateway-0.0.1-SNAPSHOT.jar
# 暴露端口，这个根据自己需求进行更改
EXPOSE 10010
# 运行命令
ENTRYPOINT ["java", "-jar", "/ojgateway-0.0.1-SNAPSHOT.jar"]